.landing {
  height: 200dvh;
  width: 100vw;
  background: #f2f2f2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .imageContainer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    img {
      object-fit: cover;
      cursor: pointer;
    }
  }
}