.landing {
  height: 100dvh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
  .imageContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}